#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define XXX &trans

/ {
      macros {
    semi_enter: semi_enter {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <5>;
      wait-ms = <5>;
      bindings = <&kp SEMICOLON &kp ENTER>;
    };
  };

  behaviors {
    bspc_imeoff_ht: bspc_imeoff_ht {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      bindings = <&kp &kp>;
    };

    space_imeon_ht: space_imeon_ht {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      bindings = <&kp &kp>;
    };

    enter_semi_ht: enter_semi_ht {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      /* hold = macro (引数なし), tap = &kp (引数あり) */
      bindings = <&semi_enter &kp>;
    };
  };


  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        /* row 0 (10) */
        &kp ESCAPE   &kp P       &kp E       &kp U       &kp G
        &kp C        &kp R       &kp L       &kp MINUS   &kp DEL

        /* row 1 (12) */
        &kp TAB      &kp Y       &kp I       &kp A       &kp O       &trans
        &kp D        &kp T       &kp N       &kp S       &kp H
        &enter_semi_ht 0 ENTER

        /* row 2 (12) */
        &kp LEFT_SHIFT   &kp Q       &kp J       &kp K       &kp X       &kp F
        &kp B            &kp M       &kp W       &kp V       &kp Z       &kp RIGHT_SHIFT

        /* row 3 (9) */
        &kp LEFT_CONTROL    &kp LEFT_ALT    &kp LEFT_WIN    &mo 3   &mo 2
        &bspc_imeoff_ht LANG2 BACKSPACE
        &space_imeon_ht LANG1 SPACE
        &mo 1 &kp PSCRN
      >;
      sensor-bindings = <&msc 0 20 &msc 0 -20>;
    };

    symbol_layer {
      bindings = <
        /* row 0 (10) */
        &kp N1    &kp N2    &kp N3    &kp N4    &kp N5
        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0

        /* row 1 (12) */
        &kp TAB   &trans         &kp SEMICOLON  &kp COMMA   &kp DOT       &trans
        &kp MINUS &kp RBKT       &kp BACKSLASH  &kp GRAVE   &kp LBKT
        &enter_semi_ht 0 ENTER

        /* row 2 (12) */
        &kp LEFT_SHIFT  &trans     &trans         &trans     &kp SEMICOLON      &kp BACKSLASH
        &kp DOT         &kp SLASH  &trans         &trans     &trans             &kp RIGHT_SHIFT

        /* row 3 (9) */
        &kp LEFT_CONTROL    &kp LEFT_ALT    &kp LEFT_WIN    &mo 3   &mo 2
        &kp BACKSPACE
        &space_imeon_ht LANG1 SPACE
        &mo 1 &kp PSCRN
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    fn_layer {
      bindings = <
        /* row 0 (10) */
        &kp F1   &kp F2   &kp F3   &kp F4   &kp F5
        &kp F6   &kp F7   &kp F8   &kp F9   &kp F10

        /* row 1 (12) */
        &kp TAB   &kp LC(Z)   &kp LC(X)   &kp LC(C)   &kp LC(V)   &trans
        &kp F11   &kp F12     &kp F13     &kp LC(F)   &kp LC(H)
        &enter_semi_ht 0 ENTER

        /* row 2 (12) */
        &kp LEFT_SHIFT  &kp LC(A) &kp LC(S) &kp LC(D)  &kp LC(W)    &trans
        &kp HOME        &kp END   &kp LEFT  &kp RIGHT  &trans       &kp RIGHT_SHIFT

        /* row 3 (9) */
        &kp LEFT_CONTROL    &kp LEFT_ALT    &kp LEFT_WIN    &mo 3   &mo 2
        &bspc_imeoff_ht LANG2 BACKSPACE
        &kp SPACE
        &mo 1 &kp PSCRN
      >;
      sensor-bindings = <&msc 0 20 &msc 0 -20>;
    };

    mouse_layer {
      bindings = <
        /* row 0 (10) */
        &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans

        /* row 1 (12) */
        &trans  &trans  &trans  &mkp MB1  &mkp MB2  &trans
        &trans  &trans  &trans  &trans    &trans
        &enter_semi_ht 0 ENTER

        /* row 2 (12) */
        &kp LEFT_SHIFT &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &kp RIGHT_SHIFT

        /* row 3 (9) */
        &kp LEFT_CONTROL    &kp LEFT_ALT    &kp LEFT_WIN    &mo 3   &mo 2
        &bspc_imeoff_ht LANG2 BACKSPACE
        &space_imeon_ht LANG1 SPACE
        &mo 1 &kp PSCRN
      >;
      sensor-bindings = <&msc 0 20 &msc 0 -20>;
    };
  };
};